@{
    ViewBag.Title = "Quản trị hệ thống";
}

<h2>Trang quản trị Whisperwood</h2>

<div style="padding:20px; background:#fff; border-radius:10px">
    <h3>Chọn chức năng:</h3>
    <ul>
        <li><a href="/Book/Index">Quản lý sách</a></li>
        <li><a href="/Order/Index">Quản lý đơn hàng</a></li>
        <li><a href="/Category/Index">Quản lý danh mục</a></li>
        <li><a href="/Voucher/Index">Quản lý mã giảm giá</a></li>
        <li><a href="/User/Index">Quản lý người dùng</a></li>
    </ul>
</div>

